/* fonts style */
*{  text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.orange-color{color: rgba(253, 110, 10, 1);}
.orange-button{
    background-color: rgba(253, 110, 10, 1);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    color: white;
    padding: 15px 35px;
}


/* nave related style */
nav {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 20px;
}
nav a{
    color: #474747;
}
/* header related style */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}

.banner .wellcm-h1{
font-size: 45px;
font-weight: 600;
color: #474747;
margin-bottom: 0px;
}
.banner .wellcm-h2{
font-size: 80px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 6px;
}
.banner .banner-description{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
}
.banner .image{
    width: 500px;
    height: 600px;
}
/* header section end */

/* main section start */
main{
    max-width: 1140px;
    margin: 0% auto;
}
/* about section style */
.about{
    background-color: #FFF8F3;
    padding: 130px;
    border-radius: 10px;
    margin-top: 130px;
    /* margin-bottom: 130px; */
    
}
.about .about-sectitle{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.about .about-secdescription{
    text-align: center;
    font-size: 18px;
    color: #181818;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info-container .about-info{
    text-align: center;
}
.about-info .info-title{
    font-weight: 500;
    margin-bottom: 0px;
}
.about-info .info-description{
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}  

/* what i do style start */

.what-i-do-container{
margin-top: 130px;
text-align: center;
}
.what-i-do-container .wid-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.what-i-do-container .wid-description{
    padding: 25px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
    
}
.skills-container .skills{
    text-align: left;
    padding: 24px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, 0.06);
}
.skills-container .skills .skills-description{
    color: #757575;
}
/* A summary resumi container start */
.resumi-section{
    /* text-align: center; */
    
}
.section-title{
    text-align: center;
}
.resumi-colum{
   
}
.resumi-container{
    display: flex;
    gap: 50px;
    
}
.resumi-colum-title{
    font-size: 30px;
    font-weight: 700;
}
.resumi-colum .resumi-item-title{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}
.resumi-colum .resumi-item-sub-title{
color: #757575;
font-size: 20px;
font-weight: 600;
}
.resumi-colum .resumi-item-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
.resumi-container hr{
    margin: 30px 0px 30px 0px;
}
.cv-download{
    text-align: center;
    margin: 50px;
}